USE [master]
GO
/****** Objeto: Database [TP_Ing_Soft] Fecha de script: 18/9/2026 12:49:35 ******/
CREATE DATABASE [TP_Ing_Soft]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP_Ing_Soft', FILENAME = N'C:\Users\windows\TP_Ing_Soft.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP_Ing_Soft_log', FILENAME = N'C:\Users\windows\TP_Ing_Soft_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP_Ing_Soft].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP_Ing_Soft]
GO
/****** Objeto: UserDefinedTableType [dbo].[IntList] Fecha de script: 18/9/2026 12:49:35 ******/
CREATE TYPE [dbo].[IntList] AS TABLE(
	[ID] [int] NOT NULL,
	PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
GO
/****** Objeto: Table [dbo].[Acompanantes] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acompanantes](
	[ReservaID] [int] NOT NULL,
	[HuespedID] [int] NOT NULL,
 CONSTRAINT [PK_Acompanantes] PRIMARY KEY CLUSTERED 
(
	[ReservaID] ASC,
	[HuespedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Bitacora] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[Modulo] [int] NOT NULL,
	[Evento] [int] NOT NULL,
	[Criticidad] [int] NOT NULL,
	[TargetUsername] [nvarchar](50) NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ConfiguracionHotel] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfiguracionHotel](
	[ConfiguracionID] [int] IDENTITY(1,1) NOT NULL,
	[HoraCheckIn] [time](7) NOT NULL,
	[HoraCheckOut] [time](7) NOT NULL,
	[GraciaNoShowHoras] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_ConfiguracionHotel] PRIMARY KEY CLUSTERED 
(
	[ConfiguracionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DV] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DV](
	[Tabla] [nvarchar](100) NOT NULL,
	[DVH] [nvarchar](max) NOT NULL,
	[DVV] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Tabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[FamiliaIntegrada] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaIntegrada](
	[FamiliaPadreID] [int] NOT NULL,
	[FamiliaID] [int] NOT NULL,
 CONSTRAINT [PK_FamiliaIntegrada] PRIMARY KEY CLUSTERED 
(
	[FamiliaID] ASC,
	[FamiliaPadreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[FamiliaPermiso] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaPermiso](
	[FamiliaID] [int] NOT NULL,
	[PermisoID] [int] NOT NULL,
 CONSTRAINT [PK_FamiliaPermiso] PRIMARY KEY CLUSTERED 
(
	[FamiliaID] ASC,
	[PermisoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Familias] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familias](
	[FamiliaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FamiliaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Habitaciones] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habitaciones](
	[HabitacionID] [int] IDENTITY(1,1) NOT NULL,
	[NroHabitacion] [nvarchar](10) NOT NULL,
	[PisoID] [int] NOT NULL,
	[TipoHabitacionID] [int] NOT NULL,
	[Estado] [int] NOT NULL,
 CONSTRAINT [PK_Habitaciones] PRIMARY KEY CLUSTERED 
(
	[HabitacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Habitaciones_NroHabitacion] UNIQUE NONCLUSTERED 
(
	[NroHabitacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Huespedes] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Huespedes](
	[HuespedID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Documento] [nvarchar](20) NOT NULL,
	[TipoDocumento] [int] NOT NULL,
	[Nacionalidad] [nvarchar](50) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Email] [nvarchar](150) NULL,
	[Telefono] [nvarchar](30) NULL,
 CONSTRAINT [PK_Huespedes] PRIMARY KEY CLUSTERED 
(
	[HuespedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Huespedes_DocumentoCompleto] UNIQUE NONCLUSTERED 
(
	[TipoDocumento] ASC,
	[Documento] ASC,
	[Nacionalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pagos] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[PagoID] [int] IDENTITY(1,1) NOT NULL,
	[ReservaID] [int] NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[MetodoPago] [int] NOT NULL,
	[FechaPago] [datetime] NOT NULL,
 CONSTRAINT [PK_Pagos] PRIMARY KEY CLUSTERED 
(
	[PagoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Permisos] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisos](
	[PermisoID] [int] IDENTITY(0,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
 CONSTRAINT [PK__Permisos__96E0C703D1806354] PRIMARY KEY CLUSTERED 
(
	[PermisoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pisos] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pisos](
	[PisoID] [int] IDENTITY(1,1) NOT NULL,
	[Numero] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Pisos] PRIMARY KEY CLUSTERED 
(
	[PisoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Pisos_Numero] UNIQUE NONCLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Reservas] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservas](
	[ReservaID] [int] IDENTITY(1,1) NOT NULL,
	[HuespedTitularID] [int] NOT NULL,
	[HabitacionID] [int] NOT NULL,
	[FechaIngreso] [date] NOT NULL,
	[FechaEgreso] [date] NOT NULL,
	[CheckIn] [datetime] NULL,
	[CheckOut] [datetime] NULL,
	[Estado] [int] NOT NULL,
	[CantidadAdultos] [int] NOT NULL,
	[CantidadNinos] [int] NOT NULL,
	[TarifaNoche] [decimal](10, 2) NOT NULL,
	[MontoTotal] [decimal](10, 2) NOT NULL,
	[UsuarioRegistroDNI] [int] NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[MontoOriginal] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Reservas] PRIMARY KEY CLUSTERED 
(
	[ReservaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Roles] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RolID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RolFamilia] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolFamilia](
	[RolID] [int] NOT NULL,
	[FamiliaID] [int] NOT NULL,
 CONSTRAINT [PK_RolFamilia] PRIMARY KEY CLUSTERED 
(
	[RolID] ASC,
	[FamiliaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RolPermiso] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolPermiso](
	[RolID] [int] NOT NULL,
	[PermisoID] [int] NOT NULL,
 CONSTRAINT [PK_RolPermiso] PRIMARY KEY CLUSTERED 
(
	[RolID] ASC,
	[PermisoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TiposHabitacion] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposHabitacion](
	[TipoHabitacionID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
	[Capacidad] [int] NOT NULL,
	[TarifaNoche] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_TiposHabitacion] PRIMARY KEY CLUSTERED 
(
	[TipoHabitacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Users] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[DNI] [int] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[RolID] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Hash] [nvarchar](255) NOT NULL,
	[Salt] [nvarchar](255) NOT NULL,
	[Bloqueado] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
	[Idioma] [varchar](5) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Users_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bitacora] ADD  CONSTRAINT [DF_Bitacora_Fecha]  DEFAULT (getdate()) FOR [FechaHora]
GO
ALTER TABLE [dbo].[Reservas] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Bloqueado]  DEFAULT ((0)) FOR [Bloqueado]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Idioma]  DEFAULT ('es') FOR [Idioma]
GO
ALTER TABLE [dbo].[Acompanantes]  WITH CHECK ADD  CONSTRAINT [FK_Acompanantes_Huespedes] FOREIGN KEY([HuespedID])
REFERENCES [dbo].[Huespedes] ([HuespedID])
GO
ALTER TABLE [dbo].[Acompanantes] CHECK CONSTRAINT [FK_Acompanantes_Huespedes]
GO
ALTER TABLE [dbo].[Acompanantes]  WITH CHECK ADD  CONSTRAINT [FK_Acompanantes_Reservas] FOREIGN KEY([ReservaID])
REFERENCES [dbo].[Reservas] ([ReservaID])
GO
ALTER TABLE [dbo].[Acompanantes] CHECK CONSTRAINT [FK_Acompanantes_Reservas]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Users] FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Users]
GO
ALTER TABLE [dbo].[FamiliaIntegrada]  WITH CHECK ADD FOREIGN KEY([FamiliaPadreID])
REFERENCES [dbo].[Familias] ([FamiliaID])
GO
ALTER TABLE [dbo].[FamiliaIntegrada]  WITH CHECK ADD FOREIGN KEY([FamiliaID])
REFERENCES [dbo].[Familias] ([FamiliaID])
GO
ALTER TABLE [dbo].[FamiliaPermiso]  WITH CHECK ADD FOREIGN KEY([FamiliaID])
REFERENCES [dbo].[Familias] ([FamiliaID])
GO
ALTER TABLE [dbo].[FamiliaPermiso]  WITH CHECK ADD  CONSTRAINT [FK__FamiliaPe__Permi__5165187F] FOREIGN KEY([PermisoID])
REFERENCES [dbo].[Permisos] ([PermisoID])
GO
ALTER TABLE [dbo].[FamiliaPermiso] CHECK CONSTRAINT [FK__FamiliaPe__Permi__5165187F]
GO
ALTER TABLE [dbo].[Habitaciones]  WITH CHECK ADD  CONSTRAINT [FK_Habitaciones_Pisos] FOREIGN KEY([PisoID])
REFERENCES [dbo].[Pisos] ([PisoID])
GO
ALTER TABLE [dbo].[Habitaciones] CHECK CONSTRAINT [FK_Habitaciones_Pisos]
GO
ALTER TABLE [dbo].[Habitaciones]  WITH CHECK ADD  CONSTRAINT [FK_Habitaciones_TiposHabitacion] FOREIGN KEY([TipoHabitacionID])
REFERENCES [dbo].[TiposHabitacion] ([TipoHabitacionID])
GO
ALTER TABLE [dbo].[Habitaciones] CHECK CONSTRAINT [FK_Habitaciones_TiposHabitacion]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Reservas] FOREIGN KEY([ReservaID])
REFERENCES [dbo].[Reservas] ([ReservaID])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_Reservas]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Habitaciones] FOREIGN KEY([HabitacionID])
REFERENCES [dbo].[Habitaciones] ([HabitacionID])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Habitaciones]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Huespedes] FOREIGN KEY([HuespedTitularID])
REFERENCES [dbo].[Huespedes] ([HuespedID])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Huespedes]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [FK_Reservas_Users] FOREIGN KEY([UsuarioRegistroDNI])
REFERENCES [dbo].[Users] ([DNI])
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [FK_Reservas_Users]
GO
ALTER TABLE [dbo].[RolFamilia]  WITH CHECK ADD FOREIGN KEY([FamiliaID])
REFERENCES [dbo].[Familias] ([FamiliaID])
GO
ALTER TABLE [dbo].[RolFamilia]  WITH CHECK ADD FOREIGN KEY([RolID])
REFERENCES [dbo].[Roles] ([RolID])
GO
ALTER TABLE [dbo].[RolPermiso]  WITH CHECK ADD  CONSTRAINT [FK__RolPermis__Permi__5441852A] FOREIGN KEY([PermisoID])
REFERENCES [dbo].[Permisos] ([PermisoID])
GO
ALTER TABLE [dbo].[RolPermiso] CHECK CONSTRAINT [FK__RolPermis__Permi__5441852A]
GO
ALTER TABLE [dbo].[RolPermiso]  WITH CHECK ADD FOREIGN KEY([RolID])
REFERENCES [dbo].[Roles] ([RolID])
GO
ALTER TABLE [dbo].[FamiliaIntegrada]  WITH CHECK ADD  CONSTRAINT [CHK_NoAutorreferencia] CHECK  (([FamiliaID]<>[FamiliaPadreID]))
GO
ALTER TABLE [dbo].[FamiliaIntegrada] CHECK CONSTRAINT [CHK_NoAutorreferencia]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [CK_Reservas_Adultos] CHECK  (([CantidadAdultos]>=(1)))
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [CK_Reservas_Adultos]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [CK_Reservas_Fechas] CHECK  (([FechaEgreso]>[FechaIngreso]))
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [CK_Reservas_Fechas]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [CK_Reservas_Monto] CHECK  (([MontoTotal]>=(0)))
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [CK_Reservas_Monto]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [CK_Reservas_Ninos] CHECK  (([CantidadNinos]>=(0)))
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [CK_Reservas_Ninos]
GO
ALTER TABLE [dbo].[Reservas]  WITH CHECK ADD  CONSTRAINT [CK_Reservas_Tarifa] CHECK  (([TarifaNoche]>(0)))
GO
ALTER TABLE [dbo].[Reservas] CHECK CONSTRAINT [CK_Reservas_Tarifa]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CHK_Users_Idioma] CHECK  (([Idioma]='en' OR [Idioma]='es'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CHK_Users_Idioma]
GO
/****** Objeto: StoredProcedure [dbo].[sp_CancelarReserva] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CancelarReserva]
    @ReservaID INT,
    @Resultado BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Reservas
    SET Estado = 3 -- Cancelada
    WHERE ReservaID = @ReservaID AND Estado = 0; -- solo se puede cancelar si sigue Confirmada

    SET @Resultado = CASE WHEN @@ROWCOUNT > 0 THEN 1 ELSE 0 END;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_CrearReserva] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CrearReserva]
    @HuespedTitularID INT,
    @HabitacionID INT,
    @FechaIngreso DATE,
    @FechaEgreso DATE,
    @CantidadAdultos INT,
    @CantidadNinos INT,
    @TarifaNoche DECIMAL(10,2),
    @MontoTotal DECIMAL(10,2),
    @UsuarioRegistroDNI INT,
    @NuevaReservaID INT OUTPUT,
    @Disponible BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        IF EXISTS (
            SELECT 1 FROM Reservas WITH (UPDLOCK, HOLDLOCK)
            WHERE HabitacionID = @HabitacionID
              AND Estado IN (0, 1)
              AND FechaIngreso < @FechaEgreso
              AND FechaEgreso > @FechaIngreso
        )
        BEGIN
            SET @Disponible = 0;
            SET @NuevaReservaID = NULL;
            ROLLBACK TRANSACTION;
            RETURN;
        END

        INSERT INTO Reservas (HuespedTitularID, HabitacionID, FechaIngreso, FechaEgreso, Estado,
                               CantidadAdultos, CantidadNinos, TarifaNoche, MontoTotal, MontoOriginal,
                               UsuarioRegistroDNI, FechaRegistro)
        VALUES (@HuespedTitularID, @HabitacionID, @FechaIngreso, @FechaEgreso, 0,
                @CantidadAdultos, @CantidadNinos, @TarifaNoche, @MontoTotal, @MontoTotal,
                @UsuarioRegistroDNI, GETDATE());

        SET @NuevaReservaID = CAST(SCOPE_IDENTITY() AS INT);
        SET @Disponible = 1;
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SET @Disponible = 0;
        SET @NuevaReservaID = NULL;
        THROW;
    END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_CreateFamilia] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateFamilia]
    @Nombre         NVARCHAR(100),
    @Permisos       dbo.IntList READONLY,
    @SubFamilias    dbo.IntList READONLY,
    @NuevoFamiliaID INT OUTPUT
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
        INSERT INTO Familias (Nombre) VALUES (@Nombre);
        SET @NuevoFamiliaID = SCOPE_IDENTITY();

        INSERT INTO FamiliaPermiso (FamiliaID, PermisoID)
        SELECT @NuevoFamiliaID, ID FROM @Permisos;

        INSERT INTO FamiliaIntegrada (FamiliaID, FamiliaPadreID)
        SELECT ID, @NuevoFamiliaID FROM @SubFamilias;

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK; THROW;
    END CATCH
END

GO
/****** Objeto: StoredProcedure [dbo].[sp_CreateRol] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateRol]
    @Nombre     NVARCHAR(100),
    @Familias   dbo.IntList READONLY,
    @Permisos   dbo.IntList READONLY,
    @NuevoRolID INT OUTPUT
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
        INSERT INTO Roles (Nombre) VALUES (@Nombre);
        SET @NuevoRolID = SCOPE_IDENTITY();

        INSERT INTO RolFamilia (RolID, FamiliaID)
        SELECT @NuevoRolID, ID FROM @Familias;

        INSERT INTO RolPermiso (RolID, PermisoID)
        SELECT @NuevoRolID, ID FROM @Permisos;

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK; THROW;
    END CATCH
END

GO
/****** Objeto: StoredProcedure [dbo].[sp_DeleteFamilia] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteFamilia] @FamiliaID INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM RolFamilia       WHERE FamiliaID = @FamiliaID)
    OR EXISTS (SELECT 1 FROM FamiliaIntegrada WHERE FamiliaID = @FamiliaID)
        RAISERROR('La familia está siendo utilizada.', 16, 1);
    ELSE
    BEGIN
        DELETE FROM FamiliaPermiso   WHERE FamiliaID = @FamiliaID;
        DELETE FROM FamiliaIntegrada WHERE FamiliaPadreID = @FamiliaID;
        DELETE FROM Familias         WHERE FamiliaID = @FamiliaID;
    END
END

GO
/****** Objeto: StoredProcedure [dbo].[sp_DeleteRol] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteRol] @RolID INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Users WHERE RolID = @RolID)
        RAISERROR('El rol está asignado a usuarios.', 16, 1);
    ELSE
    BEGIN
        DELETE FROM RolPermiso WHERE RolID = @RolID;
        DELETE FROM RolFamilia WHERE RolID = @RolID;
        DELETE FROM Roles      WHERE RolID = @RolID;
    END
END

GO
/****** Objeto: StoredProcedure [dbo].[sp_EjecutarBackup] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_EjecutarBackup]
    @RutaArchivo NVARCHAR(260),
    @NombreBaseDatos NVARCHAR(100)
AS
    BACKUP DATABASE @NombreBaseDatos
    TO DISK = @RutaArchivo
    WITH FORMAT, INIT,
         NAME = 'Horizon Backup',
         SKIP, NOREWIND, NOUNLOAD, CHECKSUM, STATS = 10;

GO
/****** Objeto: StoredProcedure [dbo].[sp_ExtenderEstadia] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ExtenderEstadia]
    @ReservaID INT,
    @NuevaFechaEgreso DATE,
    @Disponible BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        DECLARE @HabitacionID INT, @FechaEgresoActual DATE, @TarifaNoche DECIMAL(10,2), @Estado INT;

        SELECT @HabitacionID = HabitacionID, @FechaEgresoActual = FechaEgreso,
               @TarifaNoche = TarifaNoche, @Estado = Estado
        FROM Reservas WHERE ReservaID = @ReservaID;

        IF @HabitacionID IS NULL OR @Estado <> 1 -- EnCurso
        BEGIN
            SET @Disponible = 0;
            ROLLBACK TRANSACTION;
            RETURN;
        END

        IF EXISTS (
            SELECT 1 FROM Reservas WITH (UPDLOCK, HOLDLOCK)
            WHERE HabitacionID = @HabitacionID
              AND ReservaID <> @ReservaID
              AND Estado IN (0, 1) -- Confirmada, EnCurso
              AND FechaIngreso < @NuevaFechaEgreso
              AND FechaEgreso > @FechaEgresoActual
        )
        BEGIN
            SET @Disponible = 0;
            ROLLBACK TRANSACTION;
            RETURN;
        END

        UPDATE Reservas
        SET FechaEgreso = @NuevaFechaEgreso,
            MontoTotal = MontoTotal + (@TarifaNoche * DATEDIFF(DAY, @FechaEgresoActual, @NuevaFechaEgreso))
        WHERE ReservaID = @ReservaID;

        SET @Disponible = 1;
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SET @Disponible = 0;
        THROW;
    END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_GetAllFamilias] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllFamilias]
AS
BEGIN
    -- RS0: todas las familias con su padre (NULL si es raíz)
    -- LEFT JOIN porque una familia raíz no tiene fila en FamiliaIntegrada
    SELECT f.FamiliaID, f.Nombre, fi.FamiliaPadreID
    FROM Familias f
    LEFT JOIN FamiliaIntegrada fi ON f.FamiliaID = fi.FamiliaID;

    -- RS1: permisos directos por familia
    SELECT fp.FamiliaID, p.PermisoID, p.Nombre AS PermisoNombre, p.Descripcion
    FROM FamiliaPermiso fp
    INNER JOIN Permisos p ON fp.PermisoID = p.PermisoID;
END

GO
/****** Objeto: StoredProcedure [dbo].[sp_GetAllPermisos] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllPermisos]
AS
    SELECT PermisoID, Nombre AS PermisoNombre, Descripcion FROM Permisos;

GO
/****** Objeto: StoredProcedure [dbo].[sp_GetAllRolesConEstructura] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllRolesConEstructura]
AS
BEGIN
    SELECT RolID, Nombre FROM Roles;                               -- RS0

    SELECT RolID, FamiliaID FROM RolFamilia;                       -- RS1

    SELECT rp.RolID, p.PermisoID, p.Nombre AS PermisoNombre,       -- RS2
           p.Descripcion
    FROM RolPermiso rp
    INNER JOIN Permisos p ON rp.PermisoID = p.PermisoID;

    -- RS3: familias con FamiliaPadreID — mismo formato que EnsamblarFamilias espera
    SELECT f.FamiliaID, f.Nombre, fi.FamiliaPadreID
    FROM Familias f
    LEFT JOIN FamiliaIntegrada fi ON f.FamiliaID = fi.FamiliaID;

    -- RS4: permisos de familias — mismo formato que EnsamblarFamilias espera
    SELECT fp.FamiliaID, p.PermisoID, p.Nombre AS PermisoNombre,
           p.Descripcion
    FROM FamiliaPermiso fp
    INNER JOIN Permisos p ON fp.PermisoID = p.PermisoID;
END

GO
/****** Objeto: StoredProcedure [dbo].[sp_GetAllTablesParaDV] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllTablesParaDV]
AS
BEGIN
    SELECT * FROM Users;            -- RS0
    SELECT * FROM Roles;            -- RS1
    SELECT * FROM Familias;         -- RS2
    SELECT * FROM Permisos;         -- RS3
    SELECT * FROM FamiliaPermiso;   -- RS4
    SELECT * FROM FamiliaIntegrada; -- RS5
    SELECT * FROM RolFamilia;       -- RS6
    SELECT * FROM RolPermiso;       -- RS7
END

GO
/****** Objeto: StoredProcedure [dbo].[sp_GetAncestrosFamilia] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAncestrosFamilia]
    @FamiliaID INT
AS
BEGIN
    -- RS0: familias que contienen a @FamiliaID, directa o transitivamente
    ;WITH FamiliasAncestros AS (
        SELECT FamiliaPadreID AS FamiliaID
        FROM FamiliaIntegrada
        WHERE FamiliaID = @FamiliaID

        UNION ALL

        SELECT fi.FamiliaPadreID
        FROM FamiliaIntegrada fi
        INNER JOIN FamiliasAncestros fa ON fi.FamiliaID = fa.FamiliaID
    )
    SELECT DISTINCT FamiliaID FROM FamiliasAncestros;

    -- RS1: roles que contienen a @FamiliaID, directa o transitivamente
    -- (incluye el caso en que el rol la contiene directamente)
    ;WITH FamiliasIncluyendoSelf AS (
        SELECT @FamiliaID AS FamiliaID
        UNION ALL
        SELECT fi.FamiliaPadreID
        FROM FamiliaIntegrada fi
        INNER JOIN FamiliasIncluyendoSelf f ON fi.FamiliaID = f.FamiliaID
    )
    SELECT DISTINCT rf.RolID
    FROM RolFamilia rf
    INNER JOIN FamiliasIncluyendoSelf f ON rf.FamiliaID = f.FamiliaID;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_GetDVTodo] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetDVTodo]
AS SELECT Tabla, DVH, DVV FROM DV ORDER BY Tabla;

GO
/****** Objeto: StoredProcedure [dbo].[sp_GetHabitacionesDisponibles] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetHabitacionesDisponibles]
    @FechaIngreso DATE,
    @FechaEgreso DATE,
    @TipoHabitacionID INT = NULL,
    @CapacidadMinima INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT h.HabitacionID, h.NroHabitacion, h.Estado,
           p.PisoID, p.Numero, p.Nombre AS NombrePiso,
           t.TipoHabitacionID, t.Nombre AS NombreTipo, t.Descripcion, t.Capacidad, t.TarifaNoche
    FROM Habitaciones h
    INNER JOIN Pisos p ON h.PisoID = p.PisoID
    INNER JOIN TiposHabitacion t ON h.TipoHabitacionID = t.TipoHabitacionID
    WHERE h.Estado <> 4 -- 4 = FueraDeServicio (mantenimiento)
      AND NOT EXISTS (
              SELECT 1 FROM Reservas r
              WHERE r.HabitacionID = h.HabitacionID
                AND r.Estado IN (0, 1) -- Confirmada, EnCurso
                AND r.FechaIngreso < @FechaEgreso
                AND r.FechaEgreso > @FechaIngreso
          )
      AND (@TipoHabitacionID IS NULL OR h.TipoHabitacionID = @TipoHabitacionID)
      AND (@CapacidadMinima IS NULL OR t.Capacidad >= @CapacidadMinima)
    ORDER BY p.Numero, h.NroHabitacion;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_GetRolByID] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetRolByID]
    @RolID INT
AS
BEGIN
    -- RS0: el rol
    SELECT RolID, Nombre FROM Roles WHERE RolID = @RolID;

    -- RS1: permisos directos del rol
    SELECT p.PermisoID, p.Nombre AS PermisoNombre, p.Descripcion
    FROM RolPermiso rp
    INNER JOIN Permisos p ON rp.PermisoID = p.PermisoID
    WHERE rp.RolID = @RolID;

    -- Tabla temporal: CTE una sola vez
    ;WITH FamiliasDelRol AS (
        SELECT f.FamiliaID, f.Nombre, CAST(NULL AS INT) AS FamiliaPadreID
        FROM RolFamilia rf
        INNER JOIN Familias f ON rf.FamiliaID = f.FamiliaID
        WHERE rf.RolID = @RolID

        UNION ALL

        SELECT f.FamiliaID, f.Nombre, fi.FamiliaPadreID
        FROM FamiliaIntegrada fi
        INNER JOIN Familias f         ON fi.FamiliaID      = f.FamiliaID
        INNER JOIN FamiliasDelRol fdr ON fi.FamiliaPadreID = fdr.FamiliaID
    )
    SELECT FamiliaID, Nombre, FamiliaPadreID
    INTO #FamiliasTemp
    FROM FamiliasDelRol;

    -- RS2: familias con su relación padre-hijo
    SELECT FamiliaID, Nombre, FamiliaPadreID FROM #FamiliasTemp;

    -- RS3: permisos de esas familias — reutiliza #FamiliasTemp sin repetir CTE
    SELECT fp.FamiliaID, p.PermisoID, p.Nombre AS PermisoNombre, p.Descripcion
    FROM FamiliaPermiso fp
    INNER JOIN Permisos p       ON fp.PermisoID = p.PermisoID
    INNER JOIN #FamiliasTemp ft ON fp.FamiliaID = ft.FamiliaID;

    DROP TABLE #FamiliasTemp;
END

GO
/****** Objeto: StoredProcedure [dbo].[sp_ModifyFamilia] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ModifyFamilia]
    @FamiliaID   INT,
    @Nombre      NVARCHAR(100),
    @Permisos    dbo.IntList READONLY,
    @SubFamilias dbo.IntList READONLY
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
        UPDATE Familias SET Nombre = @Nombre WHERE FamiliaID = @FamiliaID;

        DELETE FROM FamiliaPermiso   WHERE FamiliaID    = @FamiliaID;
        DELETE FROM FamiliaIntegrada WHERE FamiliaPadreID = @FamiliaID;

        INSERT INTO FamiliaPermiso (FamiliaID, PermisoID)
            SELECT @FamiliaID, ID FROM @Permisos;

        INSERT INTO FamiliaIntegrada (FamiliaID, FamiliaPadreID)
            SELECT ID, @FamiliaID FROM @SubFamilias;

        COMMIT;
    END TRY
    BEGIN CATCH ROLLBACK; THROW; END CATCH
END

GO
/****** Objeto: StoredProcedure [dbo].[sp_ModifyRol] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ModifyRol]
    @RolID    INT,
    @Nombre   NVARCHAR(100),
    @Familias dbo.IntList READONLY,
    @Permisos dbo.IntList READONLY
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
        UPDATE Roles SET Nombre = @Nombre WHERE RolID = @RolID;

        DELETE FROM RolFamilia WHERE RolID = @RolID;
        DELETE FROM RolPermiso  WHERE RolID = @RolID;

        INSERT INTO RolFamilia (RolID, FamiliaID)
            SELECT @RolID, ID FROM @Familias;

        INSERT INTO RolPermiso (RolID, PermisoID)
            SELECT @RolID, ID FROM @Permisos;

        COMMIT;
    END TRY
    BEGIN CATCH ROLLBACK; THROW; END CATCH
END

GO
/****** Objeto: StoredProcedure [dbo].[sp_ProcesarNoShows] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ProcesarNoShows]
    @CantidadCanceladas INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @HoraCheckIn TIME, @GraciaHoras DECIMAL(5,2);
    SELECT @HoraCheckIn = HoraCheckIn, @GraciaHoras = GraciaNoShowHoras FROM ConfiguracionHotel;

    DECLARE @SegundosCheckIn INT =
        DATEPART(HOUR, @HoraCheckIn) * 3600 + DATEPART(MINUTE, @HoraCheckIn) * 60 + DATEPART(SECOND, @HoraCheckIn);

    UPDATE Reservas
    SET Estado = 3 -- Cancelada (no-show)
    WHERE Estado = 0 -- Confirmada
      AND FechaIngreso <= CAST(GETDATE() AS DATE)
      AND GETDATE() > DATEADD(MINUTE, CAST(@GraciaHoras * 60 AS INT),
                               DATEADD(SECOND, @SegundosCheckIn, CAST(FechaIngreso AS DATETIME)));

    SET @CantidadCanceladas = @@ROWCOUNT;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_RegistrarCheckIn] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarCheckIn]
    @ReservaID INT,
    @FechaHora DATETIME,
    @Resultado BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @HabitacionID INT;

    -- Obtenemos el ID de la habitación asegurando que la reserva esté Confirmada (0)
    SELECT @HabitacionID = HabitacionID 
    FROM Reservas 
    WHERE ReservaID = @ReservaID AND Estado = 0;

    -- Si no existe la reserva o ya se le hizo Check-In, salimos inmediatamente
    IF @HabitacionID IS NULL
    BEGIN
        SET @Resultado = 0;
        RETURN;
    END

    BEGIN TRANSACTION;
    BEGIN TRY
        -- 1. Actualizamos la reserva a "EnCurso" (1)
        UPDATE Reservas 
        SET CheckIn = @FechaHora, Estado = 1 
        WHERE ReservaID = @ReservaID;

        -- 2. Sincronizamos el estado físico de la habitación a "Ocupada" (2)
        UPDATE Habitaciones 
        SET Estado = 2 
        WHERE HabitacionID = @HabitacionID;

        SET @Resultado = 1;
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SET @Resultado = 0;
    END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_RegistrarCheckOut] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegistrarCheckOut]
    @ReservaID INT,
    @FechaHora DATETIME,
    @Resultado BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @HabitacionID INT;

    -- Obtenemos la habitación asegurando que la reserva esté activa ("EnCurso" = 1)
    SELECT @HabitacionID = HabitacionID 
    FROM Reservas 
    WHERE ReservaID = @ReservaID AND Estado = 1;

    -- Si la reserva no existe o no estaba en curso, abortamos de forma segura
    IF @HabitacionID IS NULL
    BEGIN
        SET @Resultado = 0;
        RETURN;
    END

    BEGIN TRANSACTION;
    BEGIN TRY
        -- 1. Finalizamos la reserva (Estado 2 = Finalizada)
        UPDATE Reservas 
        SET CheckOut = @FechaHora, Estado = 2 
        WHERE ReservaID = @ReservaID;

        -- 2. Cambiamos el estado físico de la habitación a "EnLimpieza" (3)
        UPDATE Habitaciones 
        SET Estado = 3 
        WHERE HabitacionID = @HabitacionID;

        SET @Resultado = 1;
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- Si algo falla, deshacemos todo para evitar inconsistencias
        ROLLBACK TRANSACTION;
        SET @Resultado = 0;
    END CATCH
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_UpsertDVTabla] Fecha de script: 18/9/2026 12:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpsertDVTabla]
    @Tabla NVARCHAR(100),
    @DVH   NVARCHAR(MAX),
    @DVV   NVARCHAR(MAX)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM DV WHERE Tabla = @Tabla)
        UPDATE DV SET DVH = @DVH, DVV = @DVV WHERE Tabla = @Tabla;
    ELSE
        INSERT INTO DV (Tabla, DVH, DVV) VALUES (@Tabla, @DVH, @DVV);
END

GO
USE [master]
GO
