<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.TP_INGENIERIA_SOFTWAREConnectionString"
            connectionString="Data Source=DESKTOP-CRINK3R\SQLEXPRESS;Initial Catalog=TP_INGENIERIA_SOFTWARE;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>