USE [master]
GO
/****** Objeto: Database [TP_Ing_Soft] Fecha de script: 7/7/2026 23:12:00 ******/
IF DB_ID(N'TP_Ing_Soft') IS NULL
BEGIN
    CREATE DATABASE [TP_Ing_Soft];
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP_Ing_Soft].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP_Ing_Soft]
GO
/****** Objeto: UserDefinedTableType [dbo].[IntList] Fecha de script: 7/7/2026 23:12:01 ******/
CREATE TYPE [dbo].[IntList] AS TABLE(
	[ID] [int] NOT NULL,
	PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
GO
/****** Objeto: Table [dbo].[Bitacora] Fecha de script: 7/7/2026 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[Modulo] [int] NOT NULL,
	[Evento] [int] NOT NULL,
	[Criticidad] [int] NOT NULL,
	[TargetUsername] [nvarchar](50) NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DV] Fecha de script: 7/7/2026 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DV](
	[Tabla] [nvarchar](100) NOT NULL,
	[DVH] [nvarchar](max) NOT NULL,
	[DVV] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Tabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[FamiliaIntegrada] Fecha de script: 7/7/2026 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaIntegrada](
	[FamiliaPadreID] [int] NOT NULL,
	[FamiliaID] [int] NOT NULL,
 CONSTRAINT [PK_FamiliaIntegrada] PRIMARY KEY CLUSTERED 
(
	[FamiliaID] ASC,
	[FamiliaPadreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[FamiliaPermiso] Fecha de script: 7/7/2026 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaPermiso](
	[FamiliaID] [int] NOT NULL,
	[PermisoID] [int] NOT NULL,
 CONSTRAINT [PK_FamiliaPermiso] PRIMARY KEY CLUSTERED 
(
	[FamiliaID] ASC,
	[PermisoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Familias] Fecha de script: 7/7/2026 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familias](
	[FamiliaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FamiliaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Permisos] Fecha de script: 7/7/2026 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisos](
	[PermisoID] [int] IDENTITY(0,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
 CONSTRAINT [PK__Permisos__96E0C703D1806354] PRIMARY KEY CLUSTERED 
(
	[PermisoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Roles] Fecha de script: 7/7/2026 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RolID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RolFamilia] Fecha de script: 7/7/2026 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolFamilia](
	[RolID] [int] NOT NULL,
	[FamiliaID] [int] NOT NULL,
 CONSTRAINT [PK_RolFamilia] PRIMARY KEY CLUSTERED 
(
	[RolID] ASC,
	[FamiliaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[RolPermiso] Fecha de script: 7/7/2026 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolPermiso](
	[RolID] [int] NOT NULL,
	[PermisoID] [int] NOT NULL,
 CONSTRAINT [PK_RolPermiso] PRIMARY KEY CLUSTERED 
(
	[RolID] ASC,
	[PermisoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Users] Fecha de script: 7/7/2026 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[DNI] [int] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[RolID] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Hash] [nvarchar](255) NOT NULL,
	[Salt] [nvarchar](255) NOT NULL,
	[Bloqueado] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
	[Idioma] [varchar](5) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([Id], [Username], [FechaHora], [Modulo], [Evento], [Criticidad], [TargetUsername]) VALUES (1150, N'Maximo', CAST(N'2026-05-25T21:30:30.520' AS DateTime), 1, 0, 3, NULL)
INSERT [dbo].[Bitacora] ([Id], [Username], [FechaHora], [Modulo], [Evento], [Criticidad], [TargetUsername]) VALUES (1151, N'Maximo', CAST(N'2026-05-25T21:30:55.217' AS DateTime), 0, 5, 1, N'44444444Tester')
INSERT [dbo].[Bitacora] ([Id], [Username], [FechaHora], [Modulo], [Evento], [Criticidad], [TargetUsername]) VALUES (1152, N'Maximo', CAST(N'2026-05-25T21:31:00.490' AS DateTime), 0, 6, 1, N'44444444Tester')
GO
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
INSERT [dbo].[DV] ([Tabla], [DVH], [DVV]) VALUES (N'FamiliaIntegrada', N'5IosYTXNpmSR1HPORAmeNQ==', N'1iPTQXhgIkDeNjdii7cfOQ==')
INSERT [dbo].[DV] ([Tabla], [DVH], [DVV]) VALUES (N'FamiliaPermiso', N'SS5amWewvtVrB+MWBQq1noI5AuM+NBqZ4sdK5bopfQdwVoAq8CSQgRzPvFEjJYy4wiicupDMV7Ukamh5Dsco6w==', N'XM45C3pJvHb1T7S2eKv4ypXhfqkxYR+ePSwB/xCBqARPgl0Tgd0AaTdiwFn/NYJi2nsyhjUFTQ/Ot/Gi5a7VZA==')
INSERT [dbo].[DV] ([Tabla], [DVH], [DVV]) VALUES (N'Familias', N'4ABMalsu8ryZjyVlUyC4n/7xIHifXgW/mLnna0tFJkl7dgbn3+5atdMIjv4qTV7do6Vlfc6VH5nhhUf0VogxYl5AZtKRL9dv9nFhf6CjFUe4MZmkAbNZ0c7bt2ldGpaI', N'RDErtZaGeAgChlJ1ad8tf0N55F0q+Tshe/tuQJaeG0qvXZHKBuz7Ukg7lc00xXsgCCBF7K1Kf+d6rY0OyPxpNAEcOIS2jKZhxLZCQ0KMIlIOJutaw9SxQ0gnq6ZfheRL')
GO
INSERT [dbo].[FamiliaPermiso] ([FamiliaID], [PermisoID]) VALUES (1, 2)
INSERT [dbo].[FamiliaPermiso] ([FamiliaID], [PermisoID]) VALUES (1, 3)
INSERT [dbo].[FamiliaPermiso] ([FamiliaID], [PermisoID]) VALUES (1, 4)
GO
SET IDENTITY_INSERT [dbo].[Familias] ON 

INSERT [dbo].[Familias] ([FamiliaID], [Nombre]) VALUES (1, N'Gestion de usuarios')
INSERT [dbo].[Familias] ([FamiliaID], [Nombre]) VALUES (2, N'Gestion de familias')
INSERT [dbo].[Familias] ([FamiliaID], [Nombre]) VALUES (3, N'Gestion de roles')
SET IDENTITY_INSERT [dbo].[Familias] OFF
GO
SET IDENTITY_INSERT [dbo].[Permisos] ON 

INSERT [dbo].[Permisos] ([PermisoID], [Nombre], [Descripcion]) VALUES (1, N'VerBitacora', N'Consultar eventos del sistema')
INSERT [dbo].[Permisos] ([PermisoID], [Nombre], [Descripcion]) VALUES (2, N'VerUsuarios', N'Acceder a la pantalla gestion de usuarios con la lista de usuarios en el sistema')
INSERT [dbo].[Permisos] ([PermisoID], [Nombre], [Descripcion]) VALUES (3, N'CrearUsuario', N'Crear usuarios nuevos dentro del sistema')
SET IDENTITY_INSERT [dbo].[Permisos] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RolID], [Nombre]) VALUES (1, N'SuperAdmin')
INSERT [dbo].[Roles] ([RolID], [Nombre]) VALUES (2, N'Supervisor')
INSERT [dbo].[Roles] ([RolID], [Nombre]) VALUES (3, N'Gestor de accesos')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[RolFamilia] ([RolID], [FamiliaID]) VALUES (1, 1)
INSERT [dbo].[RolFamilia] ([RolID], [FamiliaID]) VALUES (1, 2)
INSERT [dbo].[RolFamilia] ([RolID], [FamiliaID]) VALUES (1, 3)
GO
INSERT [dbo].[RolPermiso] ([RolID], [PermisoID]) VALUES (1, 1)
INSERT [dbo].[RolPermiso] ([RolID], [PermisoID]) VALUES (1, 16)
INSERT [dbo].[RolPermiso] ([RolID], [PermisoID]) VALUES (2, 6)
GO
INSERT [dbo].[Users] ([DNI], [Username], [RolID], [Nombre], [Apellido], [Email], [Hash], [Salt], [Bloqueado], [Activo], [Idioma]) VALUES (11111111, N'11111111Supervisor', 2, N'Supervisor', N'Tester', N'Supervisor@test.com', N'P44CmfpIK8fTMExJOI1vN72CDu0YJAO7+gNiNk0fbvY=', N'DXjrPLoTKxZtR440OXyAcQ==', 0, 1, N'es')
INSERT [dbo].[Users] ([DNI], [Username], [RolID], [Nombre], [Apellido], [Email], [Hash], [Salt], [Bloqueado], [Activo], [Idioma]) VALUES (12345678, N'Maximo', 1, N'Maximo', N'Yapura', N'Maximo@gmail.com', N'N4Rf9Gw3hwxmXiqY4tp1IFxaOezlZdSiuYkDZqKOGFQ=', N'CWu49+d6I6N7m98eZq7sUw==', 0, 1, N'es')
INSERT [dbo].[Users] ([DNI], [Username], [RolID], [Nombre], [Apellido], [Email], [Hash], [Salt], [Bloqueado], [Activo], [Idioma]) VALUES (22222222, N'22222222GestorDeAccesos', 3, N'GestorDeAccesos', N'Tester', N'GestorDeAccesos@tester.com', N'r+jN0y27Q07T5QOV8nfJ+kdNtLVrRPoTtAd405ZzCfw=', N'4AG3HFhMbpjExCYFSl6emQ==', 0, 1, N'es')
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ_Users_Username] Fecha de script: 7/7/2026 23:12:01 ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bitacora] ADD  CONSTRAINT [DF_Bitacora_Fecha]  DEFAULT (getdate()) FOR [FechaHora]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Bloqueado]  DEFAULT ((0)) FOR [Bloqueado]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Idioma]  DEFAULT ('es') FOR [Idioma]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Users] FOREIGN KEY([Username])
REFERENCES [dbo].[Users] ([Username])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Users]
GO
ALTER TABLE [dbo].[FamiliaIntegrada]  WITH CHECK ADD FOREIGN KEY([FamiliaPadreID])
REFERENCES [dbo].[Familias] ([FamiliaID])
GO
ALTER TABLE [dbo].[FamiliaIntegrada]  WITH CHECK ADD FOREIGN KEY([FamiliaID])
REFERENCES [dbo].[Familias] ([FamiliaID])
GO
ALTER TABLE [dbo].[FamiliaPermiso]  WITH CHECK ADD FOREIGN KEY([FamiliaID])
REFERENCES [dbo].[Familias] ([FamiliaID])
GO
ALTER TABLE [dbo].[FamiliaPermiso]  WITH CHECK ADD  CONSTRAINT [FK__FamiliaPe__Permi__5165187F] FOREIGN KEY([PermisoID])
REFERENCES [dbo].[Permisos] ([PermisoID])
GO
ALTER TABLE [dbo].[FamiliaPermiso] CHECK CONSTRAINT [FK__FamiliaPe__Permi__5165187F]
GO
ALTER TABLE [dbo].[RolFamilia]  WITH CHECK ADD FOREIGN KEY([FamiliaID])
REFERENCES [dbo].[Familias] ([FamiliaID])
GO
ALTER TABLE [dbo].[RolFamilia]  WITH CHECK ADD FOREIGN KEY([RolID])
REFERENCES [dbo].[Roles] ([RolID])
GO
ALTER TABLE [dbo].[RolPermiso]  WITH CHECK ADD  CONSTRAINT [FK__RolPermis__Permi__5441852A] FOREIGN KEY([PermisoID])
REFERENCES [dbo].[Permisos] ([PermisoID])
GO
ALTER TABLE [dbo].[RolPermiso] CHECK CONSTRAINT [FK__RolPermis__Permi__5441852A]
GO
ALTER TABLE [dbo].[RolPermiso]  WITH CHECK ADD FOREIGN KEY([RolID])
REFERENCES [dbo].[Roles] ([RolID])
GO
ALTER TABLE [dbo].[FamiliaIntegrada]  WITH CHECK ADD  CONSTRAINT [CHK_NoAutorreferencia] CHECK  (([FamiliaID]<>[FamiliaPadreID]))
GO
ALTER TABLE [dbo].[FamiliaIntegrada] CHECK CONSTRAINT [CHK_NoAutorreferencia]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CHK_Users_Idioma] CHECK  (([Idioma]='en' OR [Idioma]='es'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CHK_Users_Idioma]
GO
/****** Objeto: StoredProcedure [dbo].[sp_CreateFamilia] Fecha de script: 7/7/2026 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateFamilia]
    @Nombre         NVARCHAR(100),
    @Permisos       dbo.IntList READONLY,
    @SubFamilias    dbo.IntList READONLY,
    @NuevoFamiliaID INT OUTPUT
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
        INSERT INTO Familias (Nombre) VALUES (@Nombre);
        SET @NuevoFamiliaID = SCOPE_IDENTITY();

        INSERT INTO FamiliaPermiso (FamiliaID, PermisoID)
        SELECT @NuevoFamiliaID, ID FROM @Permisos;

        INSERT INTO FamiliaIntegrada (FamiliaID, FamiliaPadreID)
        SELECT ID, @NuevoFamiliaID FROM @SubFamilias;

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK; THROW;
    END CATCH
END

GO
/****** Objeto: StoredProcedure [dbo].[sp_CreateRol] Fecha de script: 7/7/2026 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateRol]
    @Nombre     NVARCHAR(100),
    @Familias   dbo.IntList READONLY,
    @Permisos   dbo.IntList READONLY,
    @NuevoRolID INT OUTPUT
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
        INSERT INTO Roles (Nombre) VALUES (@Nombre);
        SET @NuevoRolID = SCOPE_IDENTITY();

        INSERT INTO RolFamilia (RolID, FamiliaID)
        SELECT @NuevoRolID, ID FROM @Familias;

        INSERT INTO RolPermiso (RolID, PermisoID)
        SELECT @NuevoRolID, ID FROM @Permisos;

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK; THROW;
    END CATCH
END

GO
/****** Objeto: StoredProcedure [dbo].[sp_DeleteFamilia] Fecha de script: 7/7/2026 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteFamilia] @FamiliaID INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM RolFamilia       WHERE FamiliaID = @FamiliaID)
    OR EXISTS (SELECT 1 FROM FamiliaIntegrada WHERE FamiliaID = @FamiliaID)
        RAISERROR('La familia está siendo utilizada.', 16, 1);
    ELSE
    BEGIN
        DELETE FROM FamiliaPermiso   WHERE FamiliaID = @FamiliaID;
        DELETE FROM FamiliaIntegrada WHERE FamiliaPadreID = @FamiliaID;
        DELETE FROM Familias         WHERE FamiliaID = @FamiliaID;
    END
END

GO
/****** Objeto: StoredProcedure [dbo].[sp_DeleteRol] Fecha de script: 7/7/2026 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteRol] @RolID INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Users WHERE RolID = @RolID)
        RAISERROR('El rol está asignado a usuarios.', 16, 1);
    ELSE
    BEGIN
        DELETE FROM RolPermiso WHERE RolID = @RolID;
        DELETE FROM RolFamilia WHERE RolID = @RolID;
        DELETE FROM Roles      WHERE RolID = @RolID;
    END
END

GO
/****** Objeto: StoredProcedure [dbo].[sp_EjecutarBackup] Fecha de script: 7/7/2026 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EjecutarBackup]
    @RutaArchivo NVARCHAR(260),
    @NombreBaseDatos NVARCHAR(100)
AS
    BACKUP DATABASE @NombreBaseDatos
    TO DISK = @RutaArchivo
    WITH FORMAT, INIT,
         NAME = 'Horizon Backup',
         SKIP, NOREWIND, NOUNLOAD, CHECKSUM, STATS = 10;

GO
/****** Objeto: StoredProcedure [dbo].[sp_GetAllFamilias] Fecha de script: 7/7/2026 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllFamilias]
AS
BEGIN
    -- RS0: todas las familias con su padre (NULL si es raíz)
    -- LEFT JOIN porque una familia raíz no tiene fila en FamiliaIntegrada
    SELECT f.FamiliaID, f.Nombre, fi.FamiliaPadreID
    FROM Familias f
    LEFT JOIN FamiliaIntegrada fi ON f.FamiliaID = fi.FamiliaID;

    -- RS1: permisos directos por familia
    SELECT fp.FamiliaID, p.PermisoID, p.Nombre AS PermisoNombre, p.Descripcion
    FROM FamiliaPermiso fp
    INNER JOIN Permisos p ON fp.PermisoID = p.PermisoID;
END

GO
/****** Objeto: StoredProcedure [dbo].[sp_GetAllPermisos] Fecha de script: 7/7/2026 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllPermisos]
AS
    SELECT PermisoID, Nombre AS PermisoNombre, Descripcion FROM Permisos;

GO
/****** Objeto: StoredProcedure [dbo].[sp_GetAllRolesConEstructura] Fecha de script: 7/7/2026 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllRolesConEstructura]
AS
BEGIN
    SELECT RolID, Nombre FROM Roles;                               -- RS0

    SELECT RolID, FamiliaID FROM RolFamilia;                       -- RS1

    SELECT rp.RolID, p.PermisoID, p.Nombre AS PermisoNombre,       -- RS2
           p.Descripcion
    FROM RolPermiso rp
    INNER JOIN Permisos p ON rp.PermisoID = p.PermisoID;

    -- RS3: familias con FamiliaPadreID — mismo formato que EnsamblarFamilias espera
    SELECT f.FamiliaID, f.Nombre, fi.FamiliaPadreID
    FROM Familias f
    LEFT JOIN FamiliaIntegrada fi ON f.FamiliaID = fi.FamiliaID;

    -- RS4: permisos de familias — mismo formato que EnsamblarFamilias espera
    SELECT fp.FamiliaID, p.PermisoID, p.Nombre AS PermisoNombre,
           p.Descripcion
    FROM FamiliaPermiso fp
    INNER JOIN Permisos p ON fp.PermisoID = p.PermisoID;
END

GO
/****** Objeto: StoredProcedure [dbo].[sp_GetAllTablesParaDV] Fecha de script: 7/7/2026 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllTablesParaDV]
AS
BEGIN
    SELECT * FROM Users;            -- RS0
    SELECT * FROM Roles;            -- RS1
    SELECT * FROM Familias;         -- RS2
    SELECT * FROM Permisos;         -- RS3
    SELECT * FROM FamiliaPermiso;   -- RS4
    SELECT * FROM FamiliaIntegrada; -- RS5
    SELECT * FROM RolFamilia;       -- RS6
    SELECT * FROM RolPermiso;       -- RS7
END

GO
/****** Objeto: StoredProcedure [dbo].[sp_GetAncestrosFamilia] Fecha de script: 7/7/2026 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAncestrosFamilia]
    @FamiliaID INT
AS
BEGIN
    -- RS0: familias que contienen a @FamiliaID, directa o transitivamente
    ;WITH FamiliasAncestros AS (
        SELECT FamiliaPadreID AS FamiliaID
        FROM FamiliaIntegrada
        WHERE FamiliaID = @FamiliaID

        UNION ALL

        SELECT fi.FamiliaPadreID
        FROM FamiliaIntegrada fi
        INNER JOIN FamiliasAncestros fa ON fi.FamiliaID = fa.FamiliaID
    )
    SELECT DISTINCT FamiliaID FROM FamiliasAncestros;

    -- RS1: roles que contienen a @FamiliaID, directa o transitivamente
    -- (incluye el caso en que el rol la contiene directamente)
    ;WITH FamiliasIncluyendoSelf AS (
        SELECT @FamiliaID AS FamiliaID
        UNION ALL
        SELECT fi.FamiliaPadreID
        FROM FamiliaIntegrada fi
        INNER JOIN FamiliasIncluyendoSelf f ON fi.FamiliaID = f.FamiliaID
    )
    SELECT DISTINCT rf.RolID
    FROM RolFamilia rf
    INNER JOIN FamiliasIncluyendoSelf f ON rf.FamiliaID = f.FamiliaID;
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_GetDVTodo] Fecha de script: 7/7/2026 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetDVTodo]
AS SELECT Tabla, DVH, DVV FROM DV ORDER BY Tabla;

GO
/****** Objeto: StoredProcedure [dbo].[sp_GetRolByID] Fecha de script: 7/7/2026 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetRolByID]
    @RolID INT
AS
BEGIN
    -- RS0: el rol
    SELECT RolID, Nombre FROM Roles WHERE RolID = @RolID;

    -- RS1: permisos directos del rol
    SELECT p.PermisoID, p.Nombre AS PermisoNombre, p.Descripcion
    FROM RolPermiso rp
    INNER JOIN Permisos p ON rp.PermisoID = p.PermisoID
    WHERE rp.RolID = @RolID;

    -- Tabla temporal: CTE una sola vez
    ;WITH FamiliasDelRol AS (
        SELECT f.FamiliaID, f.Nombre, CAST(NULL AS INT) AS FamiliaPadreID
        FROM RolFamilia rf
        INNER JOIN Familias f ON rf.FamiliaID = f.FamiliaID
        WHERE rf.RolID = @RolID

        UNION ALL

        SELECT f.FamiliaID, f.Nombre, fi.FamiliaPadreID
        FROM FamiliaIntegrada fi
        INNER JOIN Familias f         ON fi.FamiliaID      = f.FamiliaID
        INNER JOIN FamiliasDelRol fdr ON fi.FamiliaPadreID = fdr.FamiliaID
    )
    SELECT FamiliaID, Nombre, FamiliaPadreID
    INTO #FamiliasTemp
    FROM FamiliasDelRol;

    -- RS2: familias con su relación padre-hijo
    SELECT FamiliaID, Nombre, FamiliaPadreID FROM #FamiliasTemp;

    -- RS3: permisos de esas familias — reutiliza #FamiliasTemp sin repetir CTE
    SELECT fp.FamiliaID, p.PermisoID, p.Nombre AS PermisoNombre, p.Descripcion
    FROM FamiliaPermiso fp
    INNER JOIN Permisos p       ON fp.PermisoID = p.PermisoID
    INNER JOIN #FamiliasTemp ft ON fp.FamiliaID = ft.FamiliaID;

    DROP TABLE #FamiliasTemp;
END

GO
/****** Objeto: StoredProcedure [dbo].[sp_ModifyFamilia] Fecha de script: 7/7/2026 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ModifyFamilia]
    @FamiliaID   INT,
    @Nombre      NVARCHAR(100),
    @Permisos    dbo.IntList READONLY,
    @SubFamilias dbo.IntList READONLY
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
        UPDATE Familias SET Nombre = @Nombre WHERE FamiliaID = @FamiliaID;

        DELETE FROM FamiliaPermiso   WHERE FamiliaID    = @FamiliaID;
        DELETE FROM FamiliaIntegrada WHERE FamiliaPadreID = @FamiliaID;

        INSERT INTO FamiliaPermiso (FamiliaID, PermisoID)
            SELECT @FamiliaID, ID FROM @Permisos;

        INSERT INTO FamiliaIntegrada (FamiliaID, FamiliaPadreID)
            SELECT ID, @FamiliaID FROM @SubFamilias;

        COMMIT;
    END TRY
    BEGIN CATCH ROLLBACK; THROW; END CATCH
END

GO
/****** Objeto: StoredProcedure [dbo].[sp_ModifyRol] Fecha de script: 7/7/2026 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ModifyRol]
    @RolID    INT,
    @Nombre   NVARCHAR(100),
    @Familias dbo.IntList READONLY,
    @Permisos dbo.IntList READONLY
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
        UPDATE Roles SET Nombre = @Nombre WHERE RolID = @RolID;

        DELETE FROM RolFamilia WHERE RolID = @RolID;
        DELETE FROM RolPermiso  WHERE RolID = @RolID;

        INSERT INTO RolFamilia (RolID, FamiliaID)
            SELECT @RolID, ID FROM @Familias;

        INSERT INTO RolPermiso (RolID, PermisoID)
            SELECT @RolID, ID FROM @Permisos;

        COMMIT;
    END TRY
    BEGIN CATCH ROLLBACK; THROW; END CATCH
END

GO
/****** Objeto: StoredProcedure [dbo].[sp_UpsertDVTabla] Fecha de script: 7/7/2026 23:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpsertDVTabla]
    @Tabla NVARCHAR(100),
    @DVH   NVARCHAR(MAX),
    @DVV   NVARCHAR(MAX)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM DV WHERE Tabla = @Tabla)
        UPDATE DV SET DVH = @DVH, DVV = @DVV WHERE Tabla = @Tabla;
    ELSE
        INSERT INTO DV (Tabla, DVH, DVV) VALUES (@Tabla, @DVH, @DVV);
END

GO
USE [master]
GO
